<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Shopping Cart</title>
    <script src="lib/js/angular.js"></script>
    <script src="lib/js/controller.js"></script>
  </head>
  <body ng-controller="CartController">
    <h1>Your Order</h1>
    <div ng-repeat='item in items'>
      <span>{{item.title}}</span>
      <input ng-model="item.quantity" />
      <span>{{item.price | currency}}</span>
      <span>Total Price: {{item.price * item.quantity | currency}}</span>
      <button ng-click="remove($index)">Remove</button>
    </div>
    <span>Sum: {{totalCart()|currency}}</span>
  </body>
</html>